*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: "Cabin", sans-serif;
}
 /* <!-- <<<<<<<<<<<<<<<<<<<<<<<starting of section-1>>>>>>>>>>>>>>>>>>>>>>>>>> --> */
/* <<<<<<<<<<<<<staring of header>>>>>>>>>>>>> */
.section-1{
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .section-1 .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
 }
 .section-1 .header .menus ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 }
  .section-1 .header .menus ul a li{
    width: 48px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: #222222;
  }
   .section-1 .header .menus ul a span{
    color: #DE4132;
   }
 .section-1 .header .logo{
    width: 143px;
    height: 50px;
 }
  .section-1 .header .btn-1{
    width: 176px;
    height: 50px;
    background-color: #DE4132;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
  }

  /* <<<<<<<<<<<<<header end up here>>>>>>>>>>>>> */

.section-1-conainer-1{
    /* display: flex;
    align-items: center; */
}  

.section-1-conainer-1 h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    padding-left: 100px;
    padding-top: 50px;
}
.section-1-conainer-1 h1 span{
    color: #DE4132;
}
.section-1-conainer-1 p{
    font-size: 18px;
    line-height: 27px;
    color: #222222CC;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 100px;
}
/* <<<starting of img-1>>> */
.section-1-conainer-1 .fans .img-1{
    width: 50px;
    height: 50px;
    background-color:#FBE36A;
    border-radius: 50%;
    border-color:#FFB531;
    position: absolute;
    left: 100px;

}
.section-1-conainer-1 .fans .img-1 .div-img-1{
    width: 50px;
    height: 50px;
}
/* <<<img-1 end here>>> */
/* <<<img-2 start>>> */
.section-1-conainer-1 .fans .img-2{
    width: 50px;
    height: 50px;
    background-color:#FBE36A;
    border-radius: 50%;
    border-color: 30px #FFB531;
    position: absolute;
    left: 130px;

}
.section-1-conainer-1 .fans .div-img-2{
    width: 50px;
    height: 50px;
}
/* <<<img-2 ending>>> */
/* <<<img-3 start>>> */
.section-1-conainer-1 .fans .img-3{
    width: 50px;
    height: 50px;
    background-color:#FBE36A;
    border-radius: 50%;
    border-color: 30px #FFB531;
    position: absolute;
    left: 160px;

}
.section-1-conainer-1 .fans .div-img-3{
    width: 50px;
    height: 50px;
}
/* <<<img-3 end here>>> */
/* <<<img-4 start>>> */
.section-1-conainer-1 .fans .img-4{
    width: 50px;
    height: 50px;
    background-color:#FBE36A;
    border-radius: 50%;
    border-color: 30px #FFB531;
    position: absolute;
    left: 190px;

}
.section-1-conainer-1 .fans .div-img-4{
    width: 50px;
    height: 50px;
}
/* <<<img-4 end here>>> */
.section-1-conainer-1 .fans{
    display: flex;
    padding-top: 12px;
}
.section-1-conainer-1 .fans .star h4 #star{
    width: 18px;
    height: 18px;
    
}
.section-1-conainer-1 .fans .star h4{
    display: flex;
    font-size: 12px;
    gap: 4px;
}
.section-1-conainer-1 .fans .star h4 #rating{
    padding-top: 3px;
}
.section-1-conainer-1 .fans .star{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 250px;
}
.section-1-conainer-1 .fans .star h2{
    font-size: 18px;
}


/* <<<buttons starting from here>>> */
.buttons .btn-2{
    width: 176px;
    height: 50px;
    background-color: #DE4132;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
}
.buttons .btn-3{
    width: 176px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #DE4132;
    font-weight: 500;
    border-radius: 8px;
}
.buttons{
    display: flex;
    padding-left: 100px;
    gap: 20px;
    padding-top: 40px;
}

/* <<<<<<<<starting of social meadi platforms>>>>>>> */
.social-meadi-platforms .line{
    width: 1px;
    height: 122px;
    background-color:#3B6EA3;
    margin-left: 20px;
}
.social-meadi-platforms .icons{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}
.social-meadi-platforms .icons a img{
    width: 46px;
    height: 45px;
}
.social-meadi-platforms .txt{
    rotate: -90deg;
    width: 105px;
    line-height: 22px;
    padding-bottom: 66px;
    counter-reset: #313B4C;
    
}
.section-1-conainer-1{
    display: flex;
    flex-direction: row;
}
.social-meadi-platforms{
    display: flex;
    flex-direction: column;
    padding-left: 500px;
    padding-top: 0px;
    gap: 30px;
    width: 46px;
    height: 520px;    
}

/* <<<<<section-1 end up here>>>>>> */